nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: var(--text-primary);
  background-color: var(--background);
  transition: all 0.5s;

  a {
    position: relative;
    text-decoration: none;
    color: inherit;

    &::before {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      right: 0;
      height: 2px;
      background-color: #00d7c3;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out;
    }

    &:hover::before {
      transform: scaleX(1);
    }
  }

  ul {
    list-style: none;
    display: flex;

    li {
      margin-left: 2rem;
      font-weight: 400;

      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}

.active {
  font-weight: 700;
  border-bottom: 2px solid rgb(114, 105, 238);
}
